body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url("dancefloor.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.lineupButton{
  background-color: #000;
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.dogDancer{
  /*background-image: url('giphy.gif');
  height: 100px;
  width: 100px;
  position:absolute;*/
  background: url('assets/giphy.gif');
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  position: absolute;
  width:  100px;
  height: 100px;  
}
.dogDancer:hover{
  background-size: 120%;
  background-repeat: no-repeat;
  border: 0;
  position:absolute;
  width:  200px;
  height: 200px;  
}






